<div class="row m-b">
    <div class="col-lg-6">
        <a ng-href="#/project/[[ project_id ]]/files/new" class="btn btn-primary"><i class="fa fa-plus"></i> Novo Arquivo
        </a>
    </div>
    <div class="col-lg-6" align="right">
        <span>[[ files_pagination.total ]] Arquivos(s)</span>
    </div>
</div>

<table class="table" ng-show="files.length">
<thead>
    <tr>
        <th width="1">
            <input type="checkbox" ng-click="checkedAll($event)">
        </th>
        <th width="1">&nbsp;</th>
        <th>Descrição</th>
        <th>Ext.</th>
        <th>Tam.</th>
        <th>Criado em. </th>
        <th>Criado por. </th>
        <th>&nbsp;</th>
    </tr>
</thead>
<tbody>
    <tr ng-repeat="file in files">
        <td>
            <input type="checkbox" class="chkfile" ng-model="file.checked" value="[[ file.id ]]" ng-change="chkDelete()" ng-show="AuthUser.id==file.user_id||AuthUser.id==project.owner_id">
        </td>
        <td>
            <project-file-download id-file="[[ file.id ]]" project-id="[[ file.project_id ]]"></project-file-download>
        </td>
        <td>
        [[ file.description ]]</td>
        <td>[[ file.extension ]]</td>
        <td>[[ file.size | formatSize ]]</td>
        <td>[[ file.created_at | formatDateTime ]]</td>
        <td>[[ file.user.name ]]</td>
        <td><button type="button" ng-click="deleteFile(file)" ng-show="AuthUser.id==file.user_id||AuthUser.id==project.owner_id" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</button></td>
    </tr>

    <tr ng-show="files.length">
        <td nowrap colspan="8">
            <button type="button" ng-show="deleting.length" ng-click="deleteAll()" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Excluir Seleção ([[ deleting.length ]])</button>
        </td>
    </tr>

</tbody>
</table>

<div ng-hide="files.length" align="center">
    NENHUM ARQUIVO
</div>

<pagination
    ng-show="files_pagination.total_pages>1"
    ng-change="pageChanged()"
    boundary-links="true"
    total-items="files_pagination.total"
    items-per-page="files_pagination.per_page"
    ng-model="files_pagination.current_page"
    class="pagination-sm"
    previous-text="&lsaquo;"
    next-text="&rsaquo;"
    first-text="&laquo;"
    last-text="&raquo;">
</pagination>