/**
 * Normalize Css
 */
.form-group .help-block {
  margin-bottom: 0px;
}

.fileinput.input-group > .form-control {
  white-space: nowrap;
  overflow: hidden;
}

.fileinput-filename {
  display: inline;
}

.table-responsive .pagination {
  margin: 1px 0px;
}

.cursor_pointer {
  cursor: pointer;
}

/**
 * Styles Custom
 */
.back-loading .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2040;
  background-color: #333;
  filter: alpha(opacity=30);
  opacity: .3;
  display: table;
  color: #FFF;
  font-weight: bold;
  font-size: 18px;
}
.back-loading .text-center{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.back-loading .text-top{
  display: inline-block;
  position: fixed;
  top: 0;
  left: 50%;
  width: 180px;
  text-align: center;
  margin-left: -90px;
  z-index: 2540;
  background-color:#e9eeee;
  font-size: 16px;
  color:#444;
  padding: 10px 15px;
  text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
  border:1px solid #999;
  border-top-width:0;
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
  border-radius:7px;
  border-top-left-radius:0;
  border-top-right-radius:0;
  -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

.wrapper-content {
  padding-top: 10px;
}

.wrapper-content .ibox {
  overflow: hidden;
}

.page-heading {
  padding-bottom: 10px;
  min-width: 150px;
}

.slimScrollDiv {
  overflow: auto;
  height: 100%;

}

.dashboard .col-lg-1,
.dashboard .col-lg-3,
.dashboard .col-lg-2,
.dashboard .col-lg-3,
.dashboard .col-lg-4,
.dashboard .col-lg-5,
.dashboard .col-lg-6,
.dashboard .col-lg-7,
.dashboard .col-lg-8,
.dashboard .col-lg-9,
.dashboard .col-lg-10,
.dashboard .col-lg-11,
.dashboard .col-lg-12 {
  padding-right: 5px;
  padding-left: 5px;
}

.dashboard-home .last-activities {
  min-height: 450px;
  border-left: #ddd solid 1px;
}

.dashboard-home .last-activities .panels .panel {
  margin-bottom: 10px;
}

.dashboard-home .list-projects {
  border-right: #ddd solid 1px;
}

.dashboard-home .list-projects .ibox-content {
  height: 170px;
}

.dashboard .ibox-title {
  height: 55px;
}

.dashboard .ibox-title {
  height: 55px;
}

.dashboard .ibox-content.contents {
  min-height: 460px;
}

.dashboard .ibox-content .table {
  margin: 0px;
}

.dashboard .ibox-content.no-padding-lateral {
  padding-left: 0px;
  padding-right: 0px;
}

.dashboard .ibox-content.no-padding-lateral a.list-group-item.active:after {
  content: " ";
  position: absolute;
  top: 50%;
  right: -9px;
  margin-top: -10px;
  z-index: 999;
  height: 0;
  width: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #1ab394;
}

/* -- Mini timline for using with list item */
/* Boxed Manager */
.boxed-manager-menu-nav {
  list-style: none;
  margin: 0;
  padding: 0; }
  .boxed-manager-menu-nav > li {
    margin: 0;
    padding: 0; }
  .boxed-manager-menu-nav .boxed-manager-menu-nav-header {
    padding: 10px;
    height: 46px; }
    .boxed-manager-menu-nav .boxed-manager-menu-nav-header:before, .boxed-manager-menu-nav .boxed-manager-menu-nav-header:after {
      content: " ";
      display: table; }
    .boxed-manager-menu-nav .boxed-manager-menu-nav-header:after {
      clear: both; }
    .boxed-manager-menu-nav .boxed-manager-menu-nav-header .h4 {
      padding: 2px 0; }
    .boxed-manager-menu-nav .boxed-manager-menu-nav-header .btn {
      color: #A0A0A0;
      background: transparent;
      border-color: #A0A0A0;
      position: relative;
      top: -3px;
      font-size: 1em;
      padding: 0 7px; }
    .boxed-manager-menu-nav .boxed-manager-menu-nav-header .btn-group {
      top: -3px;
      position: relative; }
      .boxed-manager-menu-nav .boxed-manager-menu-nav-header .btn-group .btn {
        top: 0; }
      .boxed-manager-menu-nav .boxed-manager-menu-nav-header .btn-group .select-styled.select-styled-sm select {
        padding-bottom: 4px; }
  .boxed-manager-menu-nav .boxed-manager-menu-nav-item a {
    border: 1px solid #DFDFDF;
    border-right: 0;
    padding: 8px;
    background: #FFF;
    display: block;
    position: relative; }
    .boxed-manager-menu-nav .boxed-manager-menu-nav-item a .type-type-icon {
      float: right;
      font-size: 1.1em; }
    .boxed-manager-menu-nav .boxed-manager-menu-nav-item a.actived, .boxed-manager-menu-nav .boxed-manager-menu-nav-item a:hover, .boxed-manager-menu-nav .boxed-manager-menu-nav-item a:focus {
      text-decoration: none;
      background: #F3F8FD; }
      .boxed-manager-menu-nav .boxed-manager-menu-nav-item a.actived:before, .boxed-manager-menu-nav .boxed-manager-menu-nav-item a.actived:after, .boxed-manager-menu-nav .boxed-manager-menu-nav-item a:hover:before, .boxed-manager-menu-nav .boxed-manager-menu-nav-item a:hover:after, .boxed-manager-menu-nav .boxed-manager-menu-nav-item a:focus:before, .boxed-manager-menu-nav .boxed-manager-menu-nav-item a:focus:after {
        content: " ";
        position: absolute;
        top: 50%;
        right: -9px;
        margin-top: -10px;
        z-index: 999;
        height: 0;
        width: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #F3F8FD; }
      .boxed-manager-menu-nav .boxed-manager-menu-nav-item a.actived:before, .boxed-manager-menu-nav .boxed-manager-menu-nav-item a:hover:before, .boxed-manager-menu-nav .boxed-manager-menu-nav-item a:focus:before {
        right: -10px;
        border-left-color: #DFDFDF; }
  .boxed-manager-menu-nav .boxed-manager-menu-nav-item .status {
    margin: 10px 0 0; }
  .boxed-manager-menu-nav .boxed-manager-menu-nav-item + .boxed-manager-menu-nav-item a {
    border-top: 0; }
  .boxed-manager-menu-nav .boxed-manager-menu-nav-search {
    padding: 10px;
    background-color: #DFDFDF;
    border: 1px solid #DFDFDF;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .boxed-manager-menu-nav .boxed-manager-menu-nav-search .form-control {
      background-color: transparent;
      color: #8c8c8c;
      border-color: #8c8c8c; }
      .boxed-manager-menu-nav .boxed-manager-menu-nav-search .form-control::-moz-placeholder {
        color: #a6a6a6;
        opacity: 1; }
      .boxed-manager-menu-nav .boxed-manager-menu-nav-search .form-control:-ms-input-placeholder {
        color: #a6a6a6; }
      .boxed-manager-menu-nav .boxed-manager-menu-nav-search .form-control::-webkit-input-placeholder {
        color: #a6a6a6; }
      .boxed-manager-menu-nav .boxed-manager-menu-nav-search .form-control:focus {
        -webkit-box-shadow: none;
        box-shadow: none; }
    .boxed-manager-menu-nav .boxed-manager-menu-nav-search .btn-default {
      background-color: #8c8c8c;
      border-color: #8c8c8c;
      color: #DFDFDF; }
    .boxed-manager-menu-nav .boxed-manager-menu-nav-search + boxed-manager-menu-nav-item a {
      border-top-color: #FFF; }
.boxed-manager-main {
  border-left: 0;
  -webkit-box-shadow: -1px 0px 0 0 #DFDFDF;
  box-shadow: -1px 0px 0 0 #DFDFDF; }
  .boxed-manager-main.boxed-manager-main-sm {
    width: 50%; }
  .boxed-manager-main.boxed-manager-main-xlg {
    width: 80%; }
  .boxed-manager-main .boxed-manager-main-header {
    padding: 15px 10px;
    height: 47px;
    border-bottom: 1px solid #DFDFDF; }
    .boxed-manager-main .boxed-manager-main-header:before, .boxed-manager-main .boxed-manager-main-header:after {
      content: " ";
      display: table; }
    .boxed-manager-main .boxed-manager-main-header:after {
      clear: both; }
    .boxed-manager-main .boxed-manager-main-header small {
      font-size: .8em; }
  .boxed-manager-main .boxed-manager-main-body {
    border-bottom: 1px solid #DFDFDF;
    background: #FFF;
    padding: 25px;
    position: relative;
    min-height: 400px; }
    .boxed-manager-main .boxed-manager-main-body .task-list {
      margin: 0 -25px; }
      .boxed-manager-main .boxed-manager-main-body .task-list .task-list-title,
      .boxed-manager-main .boxed-manager-main-body .task-list .task-list-body > li {
        padding-left: 25px;
        padding-right: 25px; }
    .boxed-manager-main .boxed-manager-main-body > .list-styled {
      margin: 0 -25px; }
    .boxed-manager-main .boxed-manager-main-body > .boxed-manager-main-body-fluid {
      margin: 0 -25px; }
  .boxed-manager-main.arrow .boxed-manager-main-body:before, .boxed-manager-main.arrow .boxed-manager-main-body:after {
    content: " ";
    position: absolute;
    top: 30px;
    right: -9px;
    z-index: 999;
    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #FFF; }
  .boxed-manager-main.arrow .boxed-manager-main-body:before {
    right: -10px;
    border-left-color: #DFDFDF; }
.boxed-manager-info {
  border-left: 0;
  -webkit-box-shadow: -1px 0px 0 0 #DFDFDF;
  box-shadow: -1px 0px 0 0 #DFDFDF; }
  .boxed-manager-info.boxed-manager-info-lg {
    width: 30%; }
  .boxed-manager-info .boxed-manager-info-header {
    padding: 15px 10px;
    height: 47px;
    border-bottom: 1px solid #DFDFDF; }
    .boxed-manager-info .boxed-manager-info-header:before, .boxed-manager-info .boxed-manager-info-header:after {
      content: " ";
      display: table; }
    .boxed-manager-info .boxed-manager-info-header:after {
      clear: both; }
  .boxed-manager-info .boxed-manager-info-body {
    padding: 25px;
    background: #FFF;
    border-bottom: 1px solid #DFDFDF; }
    .boxed-manager-info .boxed-manager-info-body .boxed-manager-info-body-chart {
      margin: -25px -25px 0;
      padding: 15px;
      background: #EAEBEC; }
      .boxed-manager-info .boxed-manager-info-body .boxed-manager-info-body-chart:before, .boxed-manager-info .boxed-manager-info-body .boxed-manager-info-body-chart:after {
        content: " ";
        display: table; }
      .boxed-manager-info .boxed-manager-info-body .boxed-manager-info-body-chart:after {
        clear: both; }
      .boxed-manager-info .boxed-manager-info-body .boxed-manager-info-body-chart .radial-progress {
        margin: 0 auto 5px; }
    .boxed-manager-info .boxed-manager-info-body > .list-styled {
      margin: 0 -25px -25px; }
    .boxed-manager-info .boxed-manager-info-body.bg-gray10 {
      -webkit-box-shadow: 0px -1px 0 0 #e6e6e6 !important;
      box-shadow: 0px -1px 0 0 #e6e6e6 !important; }
  .boxed-manager-info.no-border {
    border-color: transparent; }
    .boxed-manager-info.no-border .boxed-manager-info-header {
      border-bottom-color: transparent; }
    .boxed-manager-info.no-border .boxed-manager-info-body {
      border-bottom-color: transparent; }