/**
 * Normalize Css
 */
.form-group .help-block {
  margin-bottom: 0px;
}

.fileinput.input-group > .form-control {
  white-space: nowrap;
  overflow: hidden;
}

.fileinput-filename {
  display: inline;
}

.table-responsive .pagination {
  margin: 1px 0px;
}

/**
 * Styles Custom
 */
.back-loading .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2040;
  background-color: #333;
  filter: alpha(opacity=30);
  opacity: .3;
  display: table;
  color: #FFF;
  font-weight: bold;
  font-size: 18px;
}
.back-loading .text-center{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.back-loading .text-top{
  display: inline-block;
  position: fixed;
  top: 0;
  left: 50%;
  width: 180px;
  text-align: center;
  margin-left: -90px;
  z-index: 2540;
  background-color:#e9eeee;
  font-size: 16px;
  color:#444;
  padding: 10px 15px;
  text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
  border:1px solid #999;
  border-top-width:0;
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
  border-radius:7px;
  border-top-left-radius:0;
  border-top-right-radius:0;
  -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

.dashboard .col-lg-1,
.dashboard .col-lg-3,
.dashboard .col-lg-2,
.dashboard .col-lg-3,
.dashboard .col-lg-4,
.dashboard .col-lg-5,
.dashboard .col-lg-6,
.dashboard .col-lg-7,
.dashboard .col-lg-8,
.dashboard .col-lg-9,
.dashboard .col-lg-10,
.dashboard .col-lg-11,
.dashboard .col-lg-12 {
  padding-right: 5px;
  padding-left: 5px;
}