<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-title">
            <a ng-href="#/project" class="btn btn-white"><i class="fa fa-arrow-left"></i> Voltar</a>
            <a ng-href="#/project/[[ project.id ]]/edit"  ng-show="AuthUser.id==project.owner_id" class="btn btn-primary">Editar</a>
            <a ng-href="#/project/[[ project.id ]]/delete" ng-show="AuthUser.id==project.owner_id" class="btn btn-danger">Excluir</a>
        </div>

        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-12" align="center">
                    <h2>[[ project.name ]]</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <dl class="dl-horizontal">
                        <dt>Status:</dt> <dd><span class="label label-[[ project.status | statusClassProject ]]">[[ project.status | statusProject ]]</span></dd>
                        <dt>Responsável:</dt> <dd>[[ project.owner.name ]]</dd>
                        <dt>Cliente:</dt> <dd><a ng-href="#/client/[[ project.client.id ]]/show" class="text-navy"> [[ project.client.name ]]</a> </dd>
                        <dt>Prazo de Entrega:</dt> <dd>[[ project.due_date | formatDate ]] </dd>
                    </dl>
                </div>
                <div class="col-lg-4" id="cluster_info">
                    <dl class="dl-horizontal" >

                        <dt>Útima Alteração:</dt> <dd>[[ project.updated_at | formatDateTime ]]</dd>
                        <dt>Criado em :</dt> <dd>  [[ project.created_at | formatDateTime ]] </dd>
                        <dt>Membros:</dt>
                        <dd><a ng-href="#/project/[[ project.id ]]/members" class="text-navy"><i class="fa fa-users"></i> [[ project.members.data.length | strpad:4 ]] </a></dd>
                    </dl>
                </div>
                <div class="col-lg-3" align="center">
                    <div class="radial-progress radial-progress-[[ project.status | statusClassProject ]]" data-progress="[[ project.progress ]]">
                        <div class="circle">
                            <div class="mask full">
                                <div class="fill"></div>
                            </div>
                            <div class="mask half">
                                <div class="fill"></div>
                                <div class="fill fix"></div>
                            </div>
                            <div class="shadow"></div>
                        </div>
                        <div class="inset">
                            <div class="percentage">
                                <div class="numbers">[[ project.progress ]]%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel blank-panel">
                        <div class="panel-heading">
                            <div class="panel-options">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a ng-click="tab('tab-note')" data-toggle="tab" rel="tab-note"><i class="fa fa-file-text-o"></i> Anotações</a></li>
                                    <li><a ng-click="tab('tab-file')" data-toggle="tab" rel="tab-file"><i class="fa fa-file"></i> Arquivos</a></li>
                                    <li><a ng-click="tab('tab-task')" data-toggle="tab" rel="tab-task"><i class="fa fa-tasks"></i> Tarefas</a></li>
                                    <li><a ng-click="tab('tab-detalhes')"data-toggle="tab" rel="tab-detalhes"><i class="fa fa-info-circle"></i> Detalhes</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab-note">
                                    <div class="feed-activity-list" ng-controller="ProjectNoteListCtrl">
                                        <div ng-include src="'build/views/project-note/_notes.html'"></div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-file" ng-controller="ProjectFileListCtrl">
                                    <div ng-include src="'build/views/project-file/_files.html'"></div>
                                </div>
                                <div class="tab-pane" id="tab-task" ng-controller="ProjectTaskListCtrl">
                                    <div ng-include src="'build/views/project-task/_tasks.html'"></div>
                                </div>
                                <div class="tab-pane" id="tab-detalhes">
                                    <div ng-bind-html="project.description | nl2br"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>