<table class="table" ng-show="project.members.length">
<thead>
    <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>&nbsp;</th>
    </tr>
</thead>
<tbody>
    <tr ng-repeat="member in project.members">
        <td>[[ member.name ]] <span class="label label-warning" ng-show="project.owner_id==member.member_id">Dono</span></td>
        <td>[[ member.email ]]</td>
        <td><a ng-click="removeMember(member)" class="btn btn-danger btn-xs" ng-hide="project.owner_id==member.member_id||AuthUser.id!=project.owner_id"><i class="fa fa-trash"></i> Excluir</a>
        </td>
    </tr>
</tbody>
</table>

<div ng-hide="project.members.length" align="center">
    NENHUM MEMBRO
</div>