<div ng-include src="'build/views/_errors.html'"></div>

<div class="form-group" ng-class="{'has-error': !formClient.name.$valid && formClient.name.$touched}">
    <label class="col-lg-2 control-label">Nome *</label>
    <div class="col-lg-10">
        <input type="text" required maxlength="255" name="name" class="form-control" placeholder="Nome" ng-model="entity.name" />
        <div ng-messages="formClient.name.$error" class="help-block" ng-show="!formClient.name.$valid && formClient.name.$touched">
            <span ng-message="required">Campo obrigatório</span>
        </div>
    </div>
</div>

<div class="form-group" ng-class="{'has-error': !formClient.responsible.$valid && formClient.responsible.$touched}">
    <label class="col-lg-2 control-label">Responsável *</label>
    <div class="col-lg-10">
        <input type="text" required maxlength="255" name="responsible" class="form-control" placeholder="Responsável" ng-model="entity.responsible">
        <div ng-messages="formClient.responsible.$error" class="help-block" ng-show="!formClient.responsible.$valid && formClient.responsible.$touched">
            <span ng-message="required">Campo obrigatório</span>
        </div>
    </div>
</div>

<div class="form-group" ng-class="{'has-error': !formClient.email.$valid && formClient.email.$touched}">
    <label class="col-lg-2 control-label">E-mail *</label>
    <div class="col-lg-10">
        <input type="email" required maxlength="255" name="email" class="form-control" placeholder="E-mail" ng-model="entity.email">
        <div ng-messages="formClient.email.$error" class="help-block" ng-show="!formClient.email.$valid && formClient.email.$touched">
            <span ng-message="required">Campo obrigatório</span>
            <span ng-message="email">Email Inválido</span>
        </div>
    </div>
</div>

<div class="form-group" ng-class="{'has-error': !formClient.phone.$valid && formClient.phone.$touched}">
    <label class="col-lg-2 control-label">Telefone *</label>
    <div class="col-lg-10">
        <input type="text" required maxlength="255" name="phone" class="form-control" placeholder="Telefone" ng-model="entity.phone">
        <div ng-messages="formClient.phone.$error" class="help-block" ng-show="!formClient.phone.$valid && formClient.phone.$touched">
            <span ng-message="required">Campo obrigatório</span>
        </div>
    </div>
</div>

<div class="form-group" ng-class="{'has-error': !formClient.address.$valid && formClient.address.$touched}">
    <label class="col-lg-2 control-label">Endereço *</label>
    <div class="col-lg-10">
        <input type="text" required maxlength="255" name="address" class="form-control" placeholder="Endereço" ng-model="entity.address">
        <div ng-messages="formClient.address.$error" class="help-block" ng-show="!formClient.address.$valid && formClient.address.$touched">
            <span ng-message="required">Campo obrigatório</span>
        </div>
    </div>
</div>

<div class="form-group" ng-class="{'has-error': !formClient.obs.$valid && formClient.obs.$touched}">
    <label class="col-lg-2 control-label">Observação</label>
    <div class="col-lg-10">
        <textarea name="obs" class="form-control" ng-model="entity.obs"></textarea>
        <div ng-messages="formClient.obs.$error" class="help-block" ng-show="!formClient.obs.$valid && formClient.obs.$touched">
            <span ng-message="required">Campo obrigatório</span>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" data-loading-text="Carregando..." class="btn btn-primary">Salvar</button>
        <a ng-href="#/client" class="btn btn-white">Cancelar</a>
    </div>
</div>